/* ------ Admin Area CSs --------- */
.slider-fields {
  display: none;
}

.slider-slogan {
  text-align: center;
  margin-bottom: 50px;
}

.slider-slogan h2 {
  font-size: 22px !important;
  color: #043959;
  margin-top: 30px !important;
}

.slider-slogan .slider-Subtitle {
  margin: 0;
  font-size: 15px;
}

.inner-field-wrapper label {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.inner-field-wrapper input,
.inner-field-wrapper textarea {
  width: 100%;
  margin-bottom: 10px;
}

.remove-hero-group {
  width: fit-content !important;
  height: fit-content !important;
  margin-left: auto !important;
  margin-top: auto !important;
}

.hero_group{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 20px;
  border: 1px solid #d8d8d8;
  padding: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#slider_type_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#slider_type_wrapper label {
    font-size: 18px !important;
    color: #043959;
}

#slider_type_wrapper #slider_type {
    border-color: #ebedee;
    padding: 5px 10px;
    background-color: #fafafa;
}

#slider_type option {
    font-size: 18px !important;!i;!;
}


.hero-button {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 20px;
}

#add_more_repeater,
#add_more_hero_repeater,
{
    width: fit-content;
    margin: 30px auto;
}

#post_fields .image-preview,
#image_slider_preview {
  margin-top: 15px;
}

.inner-field-wrapper .post-select {
  margin-bottom: 10px;
  border-color: #ebedee;
  background-color: #fafafa;
  padding: 5px;
  width: 100%;
}

#post_repeater {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.post_group {
  border: 1px solid #c3c4c782;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  position: relative;
}

.post_group .remove-repeater {
  position: absolute;
  right: 15px;
  bottom: 15px;
}


.video_group {
  margin-bottom: 15px;
}
.video_group .inner-field-wrapper {
    display: flex;
    gap: 50px;
}

.video_group .inner-field-wrapper label,
.video_group .inner-field-wrapper input{
  margin-bottom: 0 !important;
}

.video_group .inner-field-wrapper label {
  width: fit-content !important;
}

.video-wrapper-style {
  border: 1px solid #d8d8d8;
  padding: 30px;
  border-radius: 4px;
  margin-bottom: 50px;
}

#add_more_video_repeater {
  width: fit-content;
  height: max-content;
  margin-left: auto !important;!i;!;
  display: block;
}

.video_group input[type="url"] {
  max-width: 100%;
}

#image_slider_preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#image_slider_preview .image-preview-container {
  display: flex;
  flex-direction: column;
  width: fit-content !important;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
}

#image_slider_preview .image-preview-container img{
  margin: 0 auto !important;
}


.image-preview-container .remove-image-button {
  width: fit-content;
  margin: 10px  auto;
}

.image-preview-container .image-caption {
  display: block;
  margin: 5px 0;
  width: 100%;
  max-width: 300px;
}

/* Setting Page style */
.slider-type-wrap {
  margin-bottom: 50px;
}

.setting-wrapper .form-table tbody {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}

.hero-image-upload-wrapper div {
  width: 100%;
  border: 1px solid #8c8f94;
  padding: 8px;
  border-radius: 4px;
}

.hero-image-upload-wrapper p {
  text-align: center;
  margin: 0;
}

@media (max-width: 988px){
  .hero-image-upload-wrapper > div {
      margin-bottom: 20px
  }
}

@media (min-width: 989px){
  .hero-image-upload-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 20px;
  }
}

.setting-wrap div {
  border: 1px solid #8c8f94;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  min-width: fit-content;
  max-width: 400px;
}


.setting-wrap .form-table th,
.setting-wrap .form-table td{
  display: block;
  padding: 5px;
}

.setting-wrap .form-table th {
  width: fit-content !important;
}


.setting-wrap {
  display:grid;
  grid-gap: 20px;
}

@media (min-width: 769px){
  .setting-wrap {
      grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 989px){
  .setting-wrap {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Slider Type Settings Page Style For Individual Slider */

.slider-type-settings {
  display: none;
}

.slider-type-settings .form-table {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.slider-type-settings .form-table tbody {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  justify-content: flex-start;
}

.slider-type-settings .form-table td,
.slider-type-settings .form-table th  {
  display: block;
  padding: 5px 0;
}

.slider-type-settings .form-table td,
.slider-type-settings .form-table th,
.slider-type-settings .form-table td input{
  width: 250px;
}


/* Show Arrow In Backend*/

.arrow-style-selector {
  font-family: Arial, sans-serif;
}

.dropdown-options {
  display: none;
  position: absolute;
  z-index: 1000;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.dropdown-options.active {
  display: block;
}

.option {
  padding: 8px 12px;
  cursor: pointer;
}

.option:hover {
  background-color: #f5f5f5;
}

.option.selected {
  background-color: #e0e0e0;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-selected {
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}


.slider-type-settings form h2 {
  color: #2271b1;
  font-weight: 400;
  font-size: 14px;
  padding: 5px;
}

.slider-type-settings form h2:hover {
  background-color: #e2e2e2;
  width: fit-content;
}